.dmap {
width : 700px;
border : 1px solid #ccc;
margin : 1em auto;
}

.right {
float : right;
}

.jurisdictions {
clear : both;
float : left;
 width : 100%;
}

#searchbox input#addressid {
font-size : 2em;
line-height : 2.25em;
 height : 2.5em;
 padding : .5em;
  
width : 100%;
box-sizing : border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
 display : block;
margin : 0;

}

@media screen and (max-width: 900px) {
.dmap {
width : auto;
border : 0;
margin : 0;
}
}

/* List reset */
.jurisdictions ul, .jurisdictions li {
list-style-type : none;
padding : 0;
margin : 0;
}

.jurisdictions .jurisdiction {
font-size : .75em;
margin-bottom : 1.5em;
padding-bottom : 2em;
border-bottom : 0;
float : left;
width : 100%;
clear : both;
}



.jurisdictions .jurisdiction h2 {
font-size : 3em;
clear : both;
border-bottom : 1px solid #ccc;
}

.jurisdictions .jurisdiction h2 a {
color : #000;
}

.jurisdictions .jurisdiction h2 a:hover {
text-decoration : none;
}


.jurisdictions .elected-list li {
clear : both;

margin-top : 1em;
border : 0;
border-bottom : 1px solid #E8E8E8;
padding-bottom : 1em;
display: inline-block;
width : 100%;
}

.jurisdictions .elected-list li:last-child {
	border-bottom :0;
}

.jurisdictions .elected-list h3 {
margin : 0;
}

.jurisdictions .elected-list h3 a {
color : black;
}

.jurisdictions .elected-list img {
float : right;
max-width : 100px;
margin-bottom : 0;
}

.jurisdictions .elected-list .text-box {
float : left;
}





.tweet, .query {
    color: #255384;
    font: 100% Georgia,serif;
}
.tweet_list {
    background-color: #F4F4F4;
    font-size: 0.9em;
    list-style: none outside none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
clear : both;

}
.tweet_list .awesome, .tweet_list .epic {
    text-transform: uppercase;
}
.tweet_list li {
    border-bottom: 1px solid #CCCCCC;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1em 0.5em;
}

.jurisdictions .elected-list .tweet_list li {
margin : 0;
}


.tweet_list .tweet_even {
    background-color: #EAEAEA;
}
.tweet_list .tweet_avatar {
    float: left;
    padding-right: 0.5em;
}
.tweet_list .tweet_avatar img {
    vertical-align: middle;
}

.jurisdictions .elected-list  .tweet_list {
	margin : 1em 0;
	float : left;
width : 100%;
font-size : 1.2em;
}





